<form [formGroup]="searchTicketForm" class="search-form" (submit)="submitForm()">
  <mat-form-field appearance="outline" class="search-form">
    <mat-label>Enter keyword to search</mat-label>
    <input matInput formControlName="title">
    <button mat-button matSuffix color="primary" [disabled]="searchTicketForm.invalid">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>


<div class="product-list">


  <mat-card class="product-card" *ngFor="let ticket of tickets" style="width: 400px; height: 490px; justify-items: center">
      <mat-card-header>
        <mat-card-title>
          <h2 class="product-name">{{ticket.title}}</h2>
        </mat-card-title>
      </mat-card-header>

    <div class="product-image" style="width: 100%;">
      <img [src]="ticket.processedImg" alt="product-image" mat-card-lg-image style="margin-left: 80px; width: 250px; height: 250px;">
    </div>
    <div class="product-details">
       <p class="product-description">{{ticket.description}}</p>
      <mat-divider></mat-divider>

      <div class="product-info">
        <div class="info-row">
          <span class="info-label">Prix:</span>
          <span class="info-value">{{ticket.price}}€</span>
        </div> <hr>
        <div class="info-row">
          <span class="info-label">Category:</span>
          <span class="info-value">{{ticket.categoryName}}</span>
        </div>

        <div class="info-row">
          <span class="info-label">Date:</span>
          <span class="info-value">{{ticket.compDate}}</span>
        </div> <hr>
        <div class="info-row">
          <span class="info-label">Heure:</span>
          <span class="info-value">{{ticket.compTime}}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Ville:</span>
          <span class="info-value">{{ticket.city}}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Site:</span>
          <span class="info-value">{{ticket.site}}</span>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="actions" >
        <button mat-raised-button color="primary" class="update-button"
                [routerLink]="'/admin/faq/' + ticket.id">FAQ</button>

        <button mat-raised-button color="accent" class="update-button"
                [routerLink]="'/admin/ticket/' + ticket.id">Update</button>

        <button mat-raised-button color="warn" class="delete-button" (click)="deleteTicket(ticket.id)">
          Delete
        </button>

      </div>
    </div>

  </mat-card>


</div>
