<div *ngIf="!isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Paris Jeux Olympiques</span>
    <span class="spacer"> </span>
    <button mat-button routerLink="/order" routerLinkActive="active">Accueil</button>
    <button mat-button routerLink="/signup" routerLinkActive="active">Les Offres</button>
    <button mat-button routerLink="/login" routerLinkActive="active">Connexion</button>
  </mat-toolbar>
</div>

<div  *ngIf="isAdminLoggedIn">
  <mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Jeux Olympique Paris 2024 </span>
    <span class="spacer"> </span>
    <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Tableau de Bord</button>
    <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Analyse</button>
    <button mat-button routerLink="/admin/category" routerLinkActive="active">Créer une Catégorie</button>
    <button mat-button routerLink="/admin/ticket" routerLinkActive="active"> Créer un Ticket</button>
  <button mat-button routerLink="/admin/postcompetition" routerLinkActive="active"> Créer une compétition</button>
    <button mat-button routerLink="/admin/competitions" routerLinkActive="active"> compétitions</button>
    <button mat-button routerLink="/admin/orders" routerLinkActive="active">Liste des ventes </button>
<!--    <button mat-button routerLink="/admin/post-coupon" routerLinkActive="active">Créer un coupon</button>-->
<!--    <button mat-button routerLink="/admin/coupons" routerLinkActive="active">Liste des coupons</button>-->
    <button mat-button routerLinkActive="active" (click)="logout()" >Déconnexion</button>
  </mat-toolbar>
</div>


<router-outlet></router-outlet>
